NEXT_PUBLIC_SUPABASE_URL=https://cevxktxxwqhmwsmqwwyi.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNldnhrdHh4d3FobXdzbXF3d3lpIiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTM2OTg5NjIsImV4cCI6MjAwOTI3NDk2Mn0.zgJD3zaxWlJ9rvsB1QTXS4Z44OzK4pgoO9I_kePsYSY